#signup{
    display: flex;
    height:100vh;
}

#signup #heading{
    width:60%;
    /* border:2px solid red; */
    height:100%;
    text-align: center;
    align-content: center;
}

#signup #heading p{
    align-items: center;
    /* border:2px solid grey; */
    color:#E34234;
    font-size:10vw;
}

#signup #username-password{
    width:40%;
    /* border:2px solid blue; */
    margin:auto 0;
    text-align: center;
    height:100%;
    align-content: center;
    background-color: #E34234;
}

#signup #username-password #username input, #signup #username-password #password input{
    /* border:2px solid red; */
    width:90%;
    height: 20px;
    border:2px solid white;
    border-radius:5px;
}

#signup #username-password #username input, #signup #username-password #password input:focus{
    outline: none;
}

#signup #username-password h1{
    /* border:2px solid blue; */
    margin-bottom:1.25em;
    color:white;
}

#signup #username p, #signup #password p{
    /* border:2px solid grey; */
    width:90%;  
    margin:0.5em auto;
    text-align: left;
    font-size: 1.5em;
    color:white;
    
}

#username-password #form{
    border:5px solid white;
    width:80%;
    margin:0 auto;
    padding:50px 10px;
    border-radius:30px;
}

#username-password #signup-submit{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin:1.5em auto;
}

#username-password #signup-submit button{
    background-color: #E34234;
    color: white;
    width:auto;
    height:auto;
    font-family: "Roboto";
    font-size: 1.25em;
    font-weight: 400;
    border-radius:5px;
    border:2px solid white;
}

#username-password #signup-submit button:hover{
    background-color: white;
    color: #E34234;
    border:2px solid white;
}

@media (max-width:760px){
    #signup{
        display: block;
    }
    #signup #heading{
        width:90%;
        /* border:2px solid red; */
        text-align: center;
        margin:0 auto;
        height: auto;
    }
    #signup #heading p{
        /* border:2px solid grey; */
        color:#E34234;
        font-size:10vw;
        margin:0;
    }
    #signup #username-password{
        width:90%;
        margin:0 auto;
        background-color: white;
        height: auto;
    }
    #username-password #form{
        border:5px solid #E34234;
        width:95%;
    }
    #signup #username-password #username input, #signup #username-password #password input{
        border:2px solid #E34234;
    }
    #signup #username-password h1{
        color:#E34234;
    }
    #signup #username p, #signup #password p{
        color:#E34234;
    }
    #username-password #signup-submit button{
        background-color: white;
        color: #E34234;
        border:2px solid #E34234;
    }
    #username-password #signup-submit button:hover{
        background-color: #E34234;
        color: white;
        border:2px solid white;
    }
}